/*#page-wrap {
    width: 960px;
     margin: 0 auto;
}

.main-header {
  text-align: center;
  position: absolute;
  top: 0px;
}

#main-body{
    position: absolute;
    top: 200px;
    font-family: Calibri, OpenSans, sans-serif;
    color: gray;
    padding: 10px;
    width: 960px;
}

#wrapper {

}
#content {
  float: left;
  width: 35em;
}
#sidebar {
  float: right;
  padding-top: 85px;
}
#cleared {
  clear: both;
}

.navigation{
    width: 960px;
    height: 34px;
    background: #F6F6F6;
    position: absolute;
    top: 170px;
}

.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.nav li {
	float: left;
	width: 160px;
	position: relative;
}

.nav li a {
	color:#2C4295;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
}

.nav li a:hover {
	color: #F6F6F6;
    background: #2C4295;
}
*/
/*=== submenu ===*/

/*.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 160px;
	float: left;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.nav ul li a:hover {
	color: #069;
}
*/