// Place all the styles related to the snp_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#input_grid{
	width: auto !important;
	height: auto !important;
	font-size: 1em !important;
}

.jsgrid-cell{
	overflow-y: auto;	
}

.jsgrid-grid-body { 
    overflow-y: auto;
}

.jsgrid-grid-header { 
    overflow-y: auto;
}

.biojs_msa_rheader{
	left: 12px !important;
    position: relative !important;
}

.biojs_msa_seqblock{
	position: relative;
	left: 10px
}

.biojs_msa_labels{
	width: auto !important;
}